<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Error / Kukuruku / Technology Hub</title>

    <meta name="description" content="Kukuruku is a community-driven collaborative blog about IT world on planet Earth" />
    <meta name="robots" content="noodb" />
    <meta name="robots" content="noyaca" />

    <link rel='stylesheet' type='text/css' href='http://kukuruku.co/templates/cache/kukuruku/9fd7432e2418fb6d9e23f00f31c5936d.css' />


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Source+Sans+Pro:200,600|Oxygen:700|Lato:700&subset=latin' rel='stylesheet' type='text/css'>

    <link href="http://kukuruku.co/templates/skin/kukuruku/images/favicon.ico" rel="shortcut icon" />

    <link rel="apple-touch-icon" sizes="57x57" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://kukuruku.co/templates/skin/kukuruku/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="http://kukuruku.co/templates/skin/kukuruku/images/favicons/mstile-144x144.png">

    <link rel="search" type="application/opensearchdescription+xml" href="http://kukuruku.co/search/opensearch/" title="Kukuruku / Technology Hub" />


    
    
    
    <!--googleoff: all-->
    <script type="text/javascript">
    //<![CDATA[
        var DIR_WEB_ROOT             = 'http://kukuruku.co';
        var DIR_STATIC_SKIN         = 'http://kukuruku.co/templates/skin/kukuruku';
        var DIR_ROOT_ENGINE_LIB     = 'http://kukuruku.co/engine/lib';
        var LIVESTREET_SECURITY_KEY = 'a93dbcdf1c68f54fc6f6ea06e2256f66';
        var SESSION_ID                = 'j2cnpi4snkfkk9amlbcudd3t61';
        var BLOG_USE_TINYMCE        = '';

        var TINYMCE_LANG = 'en';
        
        var aRouter = new Array();
        aRouter['error'] = 'http://kukuruku.co/error/';aRouter['registration'] = 'http://kukuruku.co/registration/';aRouter['profile'] = 'http://kukuruku.co/profile/';aRouter['my'] = 'http://kukuruku.co/my/';aRouter['blog'] = 'http://kukuruku.co/hub/';aRouter['personal_blog'] = 'http://kukuruku.co/personal_blog/';aRouter['index'] = 'http://kukuruku.co/index/';aRouter['topic'] = 'http://kukuruku.co/topic/';aRouter['login'] = 'http://kukuruku.co/login/';aRouter['people'] = 'http://kukuruku.co/people/';aRouter['settings'] = 'http://kukuruku.co/settings/';aRouter['tag'] = 'http://kukuruku.co/tag/';aRouter['talk'] = 'http://kukuruku.co/talk/';aRouter['comments'] = 'http://kukuruku.co/comments/';aRouter['rss'] = 'http://kukuruku.co/rss/';aRouter['link'] = 'http://kukuruku.co/link/';aRouter['question'] = 'http://kukuruku.co/question/';aRouter['blogs'] = 'http://kukuruku.co/hubs/';aRouter['search'] = 'http://kukuruku.co/search/';aRouter['admin'] = 'http://kukuruku.co/admin/';aRouter['ajax'] = 'http://kukuruku.co/ajax/';aRouter['feed'] = 'http://kukuruku.co/feed/';aRouter['stream'] = 'http://kukuruku.co/stream/';aRouter['photoset'] = 'http://kukuruku.co/photoset/';aRouter['subscribe'] = 'http://kukuruku.co/subscribe/';aRouter['org'] = 'http://kukuruku.co/org/';aRouter['newsletters'] = 'http://kukuruku.co/newsletters/';aRouter['language'] = 'http://kukuruku.co/language/';aRouter['openid_login'] = 'http://kukuruku.co/openid_login/';aRouter['openid_settings'] = 'http://kukuruku.co/openid_settings/';aRouter['besttopicsflow'] = 'http://kukuruku.co/besttopicsflow/';aRouter['company'] = 'http://kukuruku.co/company/';aRouter['companies'] = 'http://kukuruku.co/companies/';aRouter['mainpreview'] = 'http://kukuruku.co/mainpreview/';aRouter['page'] = 'http://kukuruku.co/page/';aRouter['premoderation'] = 'http://kukuruku.co/premoderation/';aRouter['sitemap'] = 'http://kukuruku.co/sitemap/';    //]]>
    </script>
    <!--googleon: all-->


    <script type='text/javascript' src='http://kukuruku.co/templates/cache/kukuruku/9f69bbfef5179bf21a8f5873550fef73.js'></script>
<!--[if lt IE 9]><script type='text/javascript' src='http://kukuruku.co/engine/lib/external/html5shiv.js'></script><![endif]-->



    <script type="text/javascript">
        var tinyMCE = false;
        ls.lang.load([]);
        ls.registry.set('comment_max_tree',7);
        ls.registry.set('block_stream_show_tip',true);
    </script>



    
            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49490146-1', 'kukuruku.co');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>


    
    <meta property="fb:app_id" content="1446177405629271" />
<meta property="og:site_name" content="Kukuruku Hub"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://kukuruku.co/templates/skin/kukuruku/images/logo_100x100.png" />
<meta property="og:url" content="http://kukuruku.co" />
<meta property="og:title" content="Kukuruku Hub">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kukurukuco">
<meta name="twitter:creator" content="@kukurukuco">
<meta name="twitter:url" content="http://kukuruku.co" />
<meta name="twitter:domain" content="kukuruku.co" />
<meta name="twitter:title" content="Kukuruku / Technology Hub" />
<meta name="twitter:description" content="Kukuruku is a community-driven collaborative blog about IT world on planet Earth" />
<meta name="twitter:image" content="http://kukuruku.co/templates/skin/kukuruku/images/logo_200x200.png" />
<script type="text/javascript">
	var LS_ROUTER_ACTION = 'error';
	var LS_ROUTER_EVENT = '404';
</script>

</head>



    
    

    
    



<body class=" ls-user-role-guest logged-out ls-user-role-not-admin action-error event-404">
    

                
<button class="pi hidden">&pi;</button>
<div class="pi-modal">
    <div class="aligner">
        <div class="content">
        </div>
        <button class="close">×</button>
    </div>
</div>

<button class="feedback-icon hide hidden"><i class="icon-mail"></i>&nbsp;Feedback</button>

<nav class="knav-small text-center">
    Kukuruku Hub is based on collaborative blogging. You can <span class="create-account js-signup-form-show">create an account</span> and publish your own article.
</nav>

<nav class="knav navbar navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                ☰
            </button>
            <a class="navbar-brand" rel="home" href="http://kukuruku.co"><img src="http://kukuruku.co/templates/skin/kukuruku/images/logo_25x25_orange.png" width="25" height="25" /></a>
        </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-menu">
            <li ><a href="http://kukuruku.co" class="nav-link home">Home</a></li>
            <li ><a href="http://kukuruku.co/hubs/" class="nav-link hubs">Hubs</a></li>
            <li ><a href="http://kukuruku.co/companies/" class="nav-link companies">Companies</a></li>
            <li ><a href="http://kukuruku.co/stream/" class="nav-link stream">Stream</a></li>
        </ul>        
        <ul class="nav navbar-nav user-actions navbar-right">
            <li>
                <a href="https://twitter.com/kukurukuco" target="_blank" class="nav-link twitter" title="Follow Us on Twitter"><i class="icon-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/kukurukuco" target="_blank" class="nav-link facebook" title="Follow Us on Facebook"><i class="icon-facebook"></i></a>
            </li>
            <li>
                <button class="navbar-btn btn-link newsletters" title="Email Subscriptions"><i class="icon-envelope"></i></button>
            </li>
            <li>
                <a href="http://kukuruku.co/rss/index/" class="nav-link rss" alt="RSS Feed" title="RSS Feed"><i class="icon-rss"></i></a>
            </li>
                            <li><button type="button" class="btn btn-success navbar-btn js-login-form-show kbtn signin" ><i class="icon-user"></i>Become an author / Sign in</button></li>
                    </ul>
        
    </div><!-- /.navbar-collapse -->
        
    </div>
</nav>


    
    
    <main id="content" role="main" class="content">

        	



        

        


<div class="root">

	<div class="col-md-6 col-sm-12 center-block">

		<div class="box text-center">
							<div class="text-center">
					<span class="head">Error: <span>404</span></span>
				</div>
			
			<p>The page you're looking for could not be found.</p>

			<div class="text-center">
				<a href="http://kukuruku.co" class="go-home"><i class="icon-home"></i></a>
			</div>
		</div>

	</div>

</div>

            
        </main> <!-- /content -->

        
	



    <footer id="footer">

    <div class="col-sm-10 center-block text-right">

        <ul class="list-inline footer-list">
            <li><a href="/page/about">About</a></li>
            <li><a href="/page/rules">Rules</a></li>
            <li><a href="/page/privacy">Privacy Policy</a></li>
            
            <li><a href="mailto:support@kukuruku.co">Contact us</a></li>
            <li>·</li>
            <li><a href="https://twitter.com/kukurukuco">Twitter</a></li>
            <li><a href="https://www.facebook.com/kukurukuco">Facebook</a></li>
        </ul>

    </div>

    
</footer>


	<aside class="toolbar hidden-xs">
	

					
					
							
					<section class="toolbar-scrollup" id="toolbar_scrollup">
	<a href="#" onclick="return ls.toolbar.up.goUp();" title="Up" class="toolbar-topic-prev"><span class="glyphicon glyphicon-chevron-up"></span></a>
</section>

			
</aside>


    <div class="modal fade" id="empty-modal" tabindex="-1" role="dialog"><div class="modal-dialog"><div class="modal-content"></div></div></div>

            <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	<div class="modal-dialog select-none">
		<div class="modal-content signin">

			<header class="modal-header">
				<button type="button" class="close jqmClose" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modal-title">Log In</h4>
			</header>
	
			<div class="modal-body">

				

				<form action="http://kukuruku.co/login/" method="post" class="form-horizontal form-signin" role="form">   
					
             
					<small class="text-danger validate-error-hide validate-error-login"></small>

                    <div class="input-group">
                        <label for="signin-login" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
                        <input id="signin-login" type="text" class="form-control" name="login" value="" placeholder="Username / Email" />
                    </div>
                        
                    <div class="input-group">
                        <label for="signin-password" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></label>
                        <input id="signin-password" type="password" class="form-control" name="password" placeholder="Password" />
                    </div>

                    <div class="input-group">
						<label for="remember-me" class="pull-left remember-me">
							<input type="checkbox" id="remember-me" name="remember" checked> Remember me
						</label>
						<a href="#" class="pull-right reset-password-link">Forgot password?</a>
					</div>

                    

                    <input type="hidden" name="return-path" value="http://kukuruku.co/templates/cache/kukuruku/3f410844db344f3ba32ff3988516e2e8.css" />
                    <button type="submit" name="submit_login" class="btn btn-success btn-block btn-signin">Log In</button>
                </form>


                ﻿<div id="social-auth">

    <div class="or-block">
      <hr class="hr-or" />
      <span class="span-or">or</span>
    </div>


    

    <ul class="networks">
        <li><a href="http://kukuruku.co/login/openid/github/" title="Sign in with Github" class="btn btn-lg btn-block btn-social btn-github"><i class="icon-github"></i>Sign in with Github</a></li>
        <li><a href="http://kukuruku.co/login/openid/twitter/?authorize=1" onclick="openid_twitter();" class="btn btn-lg btn-block btn-social btn-twitter" title="Sign in with Twitter"><i class="icon-twitter"></i>Sign in with Twitter</a></li>
        <li><button title="Sign in with Facebook" class="btn btn-lg btn-block btn-facebook btn-social" onclick="fb_open();"><i class="icon-facebook"></i>Sign in with Facebook</button></li>
        
    </ul>

    <script type="text/javascript">
    var fbAppId='1446177405629271';
    var fbLoginPath='http://kukuruku.co/login/'+'openid/fb/';
    var fbScope='user_birthday,user_website,email,user_about_me';
    var sTwitterLoginPath='http://kukuruku.co/login/'+'openid/twitter/?authorize=1';
    var base_redir_url = "http://kukuruku.co/login/openid/enter/";

    
       function getEl(id) {
           return document.getElementById(id);
       }

       function openid_google() {
           getEl('open_login').value='https://www.google.com/accounts/o8/id';		
           authRedir();
       }
       function authRedir(){
            
           if (getEl('open_login').value) {
               str = base_redir_url+"?submit_open_login=go&open_login="+getEl('open_login').value+"&return="+getEl('rreturn').value;
               openid_setCookie("openid_referrer", window.location.href, 1);
               window.location = str;
           } else	{
               alert('OpenID has not been specified');
           }

       }

       function fb_open() {
            openid_setCookie("openid_referrer", window.location.href, 1);		
            window.location = 'https://www.facebook.com/dialog/oauth?client_id='+fbAppId+'&redirect_uri='+fbLoginPath+'&scope='+encodeURI(fbScope);
       }
       function openid_twitter() {
            openid_setCookie("openid_referrer", window.location.href, 1);			
            window.location = sTwitterLoginPath;
       }

       function openid_setCookie(c_name,value,exdays)
       {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : ";expires="+exdate.toUTCString())+";path=/";
            document.cookie=c_name + "=" + c_value;
       }

       $('.btn-social').click(function() {
        $(this).attr('disabled', 'disabled');
       });
        
    </script>
    

</div>


                


									<div data-type="registration" class="tab-content js-block-popup-login-content" style="display:none;">
						<script type="text/javascript">
							jQuery(document).ready(function($){
								$('#popup-registration-form').find('input.js-ajax-validate').blur(function(e){
									var aParams={ };
									if ($(e.target).attr('name')=='password_confirm') {
										aParams['password']=$('#popup-registration-user-password').val();
									}
									if ($(e.target).attr('name')=='password') {
										aParams['password']=$('#popup-registration-user-password').val();
										if ($('#popup-registration-user-password-confirm').val()) {
											ls.user.validateRegistrationField('password_confirm',$('#popup-registration-user-password-confirm').val(),$('#popup-registration-form'),{ 'password': $(e.target).val() });
										}
									}
									ls.user.validateRegistrationField($(e.target).attr('name'),$(e.target).val(),$('#popup-registration-form'),aParams);
								});
								$('#popup-registration-form').bind('submit',function(){
									ls.user.registration('popup-registration-form');
									return false;
								});
								$('#popup-registration-form-submit').attr('disabled',false);
							});
						</script>

						
						<form action="http://kukuruku.co/registration/" method="post" id="popup-registration-form" autocomplete="off">
							
				
							<div class="form-group">
								<label for="popup-registration-login">login</label>
								<span class="glyphicon glyphicon-question-sign text-muted js-tip-help" title="A-Z, a-z, 0-9"></span>
								<span class="glyphicon glyphicon-ok text-success validate-ok-field-login" style="display: none"></span>
								<input type="text" name="login" id="popup-registration-login" value="" class="form-control js-ajax-validate" autocomplete="off"/>
								<p class="help-block"><small class="text-danger validate-error-hide validate-error-field-login"></small></p>
							</div>
				
							<div class="form-group">
								<label for="popup-registration-mail">e-mail</label>
								<span class="glyphicon glyphicon-question-sign text-muted js-tip-help" title="Your e-mail address"></span>
								<span class="glyphicon glyphicon-ok text-success validate-ok-field-mail" style="display: none"></span>
								<input type="text" name="mail" id="popup-registration-mail" value="" class="form-control js-ajax-validate" autocomplete="off"/>
								<p class="help-block"><small class="text-danger validate-error-hide validate-error-field-mail"></small></p>
							</div>
				
							<div class="form-group">
								<label for="popup-registration-user-password">password</label>
								<span class="glyphicon glyphicon-question-sign text-muted js-tip-help" title="Password should be at least 5 characters length and can't be equal to your login"></span>
								<span class="glyphicon glyphicon-ok text-success validate-ok-field-password" style="display: none"></span>
								<input type="password" name="password" id="popup-registration-user-password" value="" class="form-control js-ajax-validate" autocomplete="off" />
								<p class="help-block"><small class="text-danger validate-error-hide validate-error-field-password"></small></p>
							</div>
				
							<div class="form-group">
								<label for="popup-registration-user-password-confirm">re-enter password</label>
								<span class="glyphicon glyphicon-ok text-success validate-ok-field-password_confirm" style="display: none"></span>
								<input type="password" value="" id="popup-registration-user-password-confirm" name="password_confirm" class="form-control js-ajax-validate" autocomplete="off" />
								<p class="help-block"><small class="text-danger validate-error-hide validate-error-field-password_confirm"></small></p>
							</div>

							
								<div class="form-group">
									<label for="popup-registration-captcha" class="captcha">let's make sure you are not a robot</label>
									<img onclick="this.src='http://kukuruku.co/engine/lib/external/kcaptcha/index.php?PHPSESSID=j2cnpi4snkfkk9amlbcudd3t61&n='+Math.random();" class="captcha-image" width="80" height="60" />
									<input type="text" name="captcha" id="popup-registration-captcha" value="" maxlength="3" class="form-control captcha-input js-ajax-validate" />
									<p class="help-block"><small class="text-danger validate-error-hide validate-error-field-captcha"></small></p>
								</div>
							
				
							
				
							<input type="hidden" name="return-path" value="http://kukuruku.co/templates/cache/kukuruku/3f410844db344f3ba32ff3988516e2e8.css">
							<button type="submit" name="submit_register" class="btn btn-success" id="popup-registration-form-submit" disabled="disabled">Sign up</button>
							
						</form>
						﻿<div id="social-auth">

    <div class="or-block">
      <hr class="hr-or" />
      <span class="span-or">or</span>
    </div>


    

    <ul class="networks">
        <li><a href="http://kukuruku.co/login/openid/github/" title="Sign in with Github" class="btn btn-lg btn-block btn-social btn-github"><i class="icon-github"></i>Sign in with Github</a></li>
        <li><a href="http://kukuruku.co/login/openid/twitter/?authorize=1" onclick="openid_twitter();" class="btn btn-lg btn-block btn-social btn-twitter" title="Sign in with Twitter"><i class="icon-twitter"></i>Sign in with Twitter</a></li>
        <li><button title="Sign in with Facebook" class="btn btn-lg btn-block btn-facebook btn-social" onclick="fb_open();"><i class="icon-facebook"></i>Sign in with Facebook</button></li>
        
    </ul>

    <script type="text/javascript">
    var fbAppId='1446177405629271';
    var fbLoginPath='http://kukuruku.co/login/'+'openid/fb/';
    var fbScope='user_birthday,user_website,email,user_about_me';
    var sTwitterLoginPath='http://kukuruku.co/login/'+'openid/twitter/?authorize=1';
    var base_redir_url = "http://kukuruku.co/login/openid/enter/";

    
       function getEl(id) {
           return document.getElementById(id);
       }

       function openid_google() {
           getEl('open_login').value='https://www.google.com/accounts/o8/id';		
           authRedir();
       }
       function authRedir(){
            
           if (getEl('open_login').value) {
               str = base_redir_url+"?submit_open_login=go&open_login="+getEl('open_login').value+"&return="+getEl('rreturn').value;
               openid_setCookie("openid_referrer", window.location.href, 1);
               window.location = str;
           } else	{
               alert('OpenID has not been specified');
           }

       }

       function fb_open() {
            openid_setCookie("openid_referrer", window.location.href, 1);		
            window.location = 'https://www.facebook.com/dialog/oauth?client_id='+fbAppId+'&redirect_uri='+fbLoginPath+'&scope='+encodeURI(fbScope);
       }
       function openid_twitter() {
            openid_setCookie("openid_referrer", window.location.href, 1);			
            window.location = sTwitterLoginPath;
       }

       function openid_setCookie(c_name,value,exdays)
       {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : ";expires="+exdate.toUTCString())+";path=/";
            document.cookie=c_name + "=" + c_value;
       }

       $('.btn-social').click(function() {
        $(this).attr('disabled', 'disabled');
       });
        
    </script>
    

</div>

					</div>
						
                
			</div>
		

            <div class="modal-footer text-right">
            	<span>Don't have an account? <a href="#" class="link-signup">Sign up now</a></span>
            </div>

		</div><!-- /.modal-content signin -->

		<div class="modal-content signup">

			<header class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modal-title">Sign Up</h4>
			</header>
	
			<div class="modal-body">

				

									<form action="http://kukuruku.co/registration/" method="post" class="form-horizontal form-signup" role="form" autocomplete="off">
						<input style="display:none" />
						<input type="password" style="display:none" />
						
	             
	                    <div class="input-group">
	                        <label for="signup-login" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
	                        <input id="signup-login" type="text" class="form-control js-ajax-validate" name="login" value="" placeholder="Username" autocomplete="off" />
	                    </div>
	                    <small class="text-danger validate-msg validate-error-hide validate-error-field-login"></small>

	                    <div class="input-group">
	                        <label for="signup-password" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></label>
	                        <input id="signup-password" type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" />
	                    </div>
	                    <small class="text-danger validate-msg validate-error-hide validate-error-field-password"></small>

	                    <div class="input-group">
	                        <label for="signup-email" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></label>
	                        <input id="signup-email" type="email" class="form-control" name="mail" placeholder="Email (optional)" autocomplete="off" />
	                    </div>
	                    <small class="text-danger validate-msg validate-error-hide validate-error-field-mail"></small>

	                    

	                    <input type="hidden" name="return-path" value="http://kukuruku.co/templates/cache/kukuruku/3f410844db344f3ba32ff3988516e2e8.css" />
	                    <button type="submit" name="submit_register" class="btn btn-success btn-block btn-signup">Create Account</button>
	                </form>
                
                ﻿<div id="social-auth">

    <div class="or-block">
      <hr class="hr-or" />
      <span class="span-or">or</span>
    </div>


    

    <ul class="networks">
        <li><a href="http://kukuruku.co/login/openid/github/" title="Sign in with Github" class="btn btn-lg btn-block btn-social btn-github"><i class="icon-github"></i>Sign in with Github</a></li>
        <li><a href="http://kukuruku.co/login/openid/twitter/?authorize=1" onclick="openid_twitter();" class="btn btn-lg btn-block btn-social btn-twitter" title="Sign in with Twitter"><i class="icon-twitter"></i>Sign in with Twitter</a></li>
        <li><button title="Sign in with Facebook" class="btn btn-lg btn-block btn-facebook btn-social" onclick="fb_open();"><i class="icon-facebook"></i>Sign in with Facebook</button></li>
        
    </ul>

    <script type="text/javascript">
    var fbAppId='1446177405629271';
    var fbLoginPath='http://kukuruku.co/login/'+'openid/fb/';
    var fbScope='user_birthday,user_website,email,user_about_me';
    var sTwitterLoginPath='http://kukuruku.co/login/'+'openid/twitter/?authorize=1';
    var base_redir_url = "http://kukuruku.co/login/openid/enter/";

    
       function getEl(id) {
           return document.getElementById(id);
       }

       function openid_google() {
           getEl('open_login').value='https://www.google.com/accounts/o8/id';		
           authRedir();
       }
       function authRedir(){
            
           if (getEl('open_login').value) {
               str = base_redir_url+"?submit_open_login=go&open_login="+getEl('open_login').value+"&return="+getEl('rreturn').value;
               openid_setCookie("openid_referrer", window.location.href, 1);
               window.location = str;
           } else	{
               alert('OpenID has not been specified');
           }

       }

       function fb_open() {
            openid_setCookie("openid_referrer", window.location.href, 1);		
            window.location = 'https://www.facebook.com/dialog/oauth?client_id='+fbAppId+'&redirect_uri='+fbLoginPath+'&scope='+encodeURI(fbScope);
       }
       function openid_twitter() {
            openid_setCookie("openid_referrer", window.location.href, 1);			
            window.location = sTwitterLoginPath;
       }

       function openid_setCookie(c_name,value,exdays)
       {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : ";expires="+exdate.toUTCString())+";path=/";
            document.cookie=c_name + "=" + c_value;
       }

       $('.btn-social').click(function() {
        $(this).attr('disabled', 'disabled');
       });
        
    </script>
    

</div>


			</div>
		
            <div class="modal-footer text-right">
            	<span>Already have an account? <a href="#" class="link-signin">Log in here</a></span>
            </div>

		</div>

		<div class="modal-content reset-password">

			<header class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modal-title">Reset Password</h4>
			</header>
	
			<div class="modal-body">

				<p>Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
				<form action="http://kukuruku.co/login/reminder/" method="POST" id="popup-reminder-form">
					
					<div class="input-group">
	                    <label for="popup-reminder-mail" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></label>
	                    <input itype="text" name="mail" id="popup-reminder-mail" class="form-control" placeholder="Email" />
	                </div>
	                <small class="text-danger validate-msg validate-error-hide validate-error-reminder"></small>
			
					<div class="form-group">
						<button type="submit" name="submit_reminder" class="btn btn-success btn-block" id="popup-reminder-form-submit">Send Reset Link</button>
					</div>
						
				</form>

			</div>
		
            <div class="modal-footer text-right">
            	<span>Already have an account? <a href="#" class="link-signin">Log in here</a></span>
            </div>

		</div>

	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    

	
		

</body>
</html>

